<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% for msg in app.session.flashBag.get('info') %}
        <li>{{ msg }}</li>
    {% endfor %}


        {% block body %}{% endblock %}
    </body>
</html>
