.col{
    padding: 1rem;
}


.container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    background-color: #a9c25d;
    padding-bottom:50px;
    min-height: 800px;
    border-radius: 20px;
}

.buttons{
    width: 30%;
    margin: auto;
}

.header{
    width: 40%;
}

.table{
    font-size: larger;
    text-align: center;
    margin: auto;

    border: 2px solid #416a59;
    color : black;
    padding: 10px;
}

body{
    background-color: #f5eec2;
}

h1{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
    color: #416a59
}

.btn{
    background-color: #416a59;
    border-color: #39395f;
    color: #f5eec2;
    font-size: x-large;
    margin-top: 10px;
}

.btn-primary:hover{
    background-color: #73a24e;
    border-color: #73a24e;
    color: #f5eec2;
}

.dice1{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 500px;
    height: 400px;
}

.dice2{
     position: absolute;
     top: 40%;
     left: 65%;
     width: 500px;
     height: 400px;
 }

.info{
    position: absolute;
    top: 95%;
    left: 40%;
    width: 50%;
}

p{
    font-size: x-large;
}

.box{
    margin: auto;
    width: 40%;
    height: 400px;
    border: 2px solid #416a59;
    margin-bottom: 50px;
}