{% extends "Layouts/base.html.twig" %}

{% block title %}
    Scores
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Meilleurs scores</h1>
        {% if not scores is defined %}
        <p>
            Pas de scores pour le moment.
        </p>
        {% elseif scores is defined %}
        <table class="score-table header">
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Pseudo</th>
                    <th>Score</th>
                </tr>
            </thead>
        </table>
        <div class="mid">
            <table class="score-table">
                <tbody>
                {% set id = 0 %}
                {% for score in scores %}
                    {% set id = id + 1 %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ score.pseudo }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
        <div class="buttons">
            {% set urlAccueil = path('accueil_index') %}
        <a href="{{ urlAccueil }}">
            <button type="button" class="btn btnScore">Retour à l'accueil</button></a>
        </div>
    </div>
    </div>
{% endblock %}
